{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link href="{% static 'create.css' %}" rel="stylesheet">
{% endblock customcss %}

{% block header %}
<h3>Detail page</h3>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <h2>Add new post</h2>
  <form method="POST" enctype="multipart/form-data" class="form-group">{% csrf_token %}
    <p>Title: <input type="text" name="title" class="form-control"></p>
    <p>Content: <textarea name="content" class="form-control" rows="3"></textarea></p>
    <input type="hidden" name="author" value="{{ user.username }}">
    <label for="file-upload" class="custom-file-upload">
      Custom Upload
    </label>
    <p><input type="file" name="snsimage" id="file-upload"><span id="file-selected"></span></p>
    <input type="submit" value="create" class="submit btn  btn-lg btn-block btn-success">
  </form>
</div>

{% else %}
Please login <a href="{% url 'login' %}">Here</a>
{% endif %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>  <script>
    $('#file-upload').bind('change', function () { var fileName = ''; fileName = $(this).val(); $('#file-selected').html(fileName); })
  </script>
{% endblock content %}
